Repository svnlto/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, stylua

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push, commit-msg]
default_stages: [pre-commit]
minimum_pre_commit_version: 3.0.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict]

  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        description: Format nix code with nixfmt
        entry: nix
        args: [--extra-experimental-features, "nix-command flakes", shell, nixpkgs#nixfmt-classic, -c, nixfmt]
        language: system
        files: \.nix$

      - id: deadnix
        name: deadnix
        description: Find unused Nix code
        entry: nix
        args: [--extra-experimental-features, "nix-command flakes", shell, nixpkgs#deadnix, -c, deadnix, --fail]
        language: system
        files: \.nix$

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: gitleaks
        description: Detect secrets in your files
        entry: gitleaks protect --verbose --redact --staged
        language: golang
        pass_filenames: false

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        description: Lint shell scripts with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]

      - id: stylua
        name: stylua
        description: Format Lua code with StyLua
        entry: bash
        args:
          - -c
          - |
            if [ "$CI" = "true" ]; then
              echo "Skipping stylua in CI"
              exit 0
            elif command -v nix >/dev/null 2>&1; then
              nix --extra-experimental-features "nix-command flakes" shell nixpkgs#stylua -c stylua "$@"
            else
              echo "Skipping stylua (Nix not available)"
            fi
          - --
        language: system
        files: \.lua$

feat: add sketchybar status bar with AeroSpace integration
  common/packages.nix
  systems/aarch64-darwin/aerospace/aerospace.toml
  systems/aarch64-darwin/aerospace/default.nix
  systems/aarch64-darwin/home.nix
  systems/aarch64-darwin/homebrew.nix
  systems/aarch64-darwin/sketchybar/default.nix
  systems/aarch64-darwin/sketchybar/plugins/aerospace_workspace.sh
  systems/aarch64-darwin/sketchybar/plugins/battery.sh
  systems/aarch64-darwin/sketchybar/plugins/clock.sh
  systems/aarch64-darwin/sketchybar/sketchybarrc
Due: nixfmt, deadnix

feat: increase AeroSpace top gap to 100 for better spacing
  systems/aarch64-darwin/aerospace/aerospace.toml
Due: none

fix: correct AeroSpace config path to .config/aerospace/aerospace.toml
  systems/aarch64-darwin/aerospace/default.nix
Due: nixfmt, deadnix

fix: wrap AeroSpace keybindings in [mode.main.binding] section
  systems/aarch64-darwin/aerospace/aerospace.toml
Due: none

chore: adjust AeroSpace top gap to 42 for sketchybar
  systems/aarch64-darwin/aerospace/aerospace.toml
Due: none

feat: add sketchybar status bar with AeroSpace integration
  CLAUDE.md
  systems/aarch64-darwin/aerospace/aerospace.toml
  systems/aarch64-darwin/homebrew.nix
  systems/aarch64-darwin/sketchybar/colors.sh
  systems/aarch64-darwin/sketchybar/default.nix
  systems/aarch64-darwin/sketchybar/items/apple.sh
  systems/aarch64-darwin/sketchybar/items/battery.sh
  systems/aarch64-darwin/sketchybar/items/calendar.sh
  systems/aarch64-darwin/sketchybar/items/spaces.sh
  systems/aarch64-darwin/sketchybar/items/volume.sh
  systems/aarch64-darwin/sketchybar/plugins/aerospace_workspace.sh
  systems/aarch64-darwin/sketchybar/plugins/battery.sh
  systems/aarch64-darwin/sketchybar/plugins/clock.sh
  systems/aarch64-darwin/sketchybar/plugins/icon_map_fn.sh
  systems/aarch64-darwin/sketchybar/plugins/space.sh
  systems/aarch64-darwin/sketchybar/plugins/space_windows.sh
  systems/aarch64-darwin/sketchybar/plugins/volume.sh
  systems/aarch64-darwin/sketchybar/sketchybarrc
Due: nixfmt, deadnix

fix: standardize sketchybar font sizes to 14pt across all items
  systems/aarch64-darwin/aerospace/aerospace.toml
  systems/aarch64-darwin/sketchybar/colors.sh
Due: none

feat: configure AeroSpace workspace auto-assignment and per-monitor gaps
  systems/aarch64-darwin/aerospace/aerospace.toml
  systems/aarch64-darwin/sketchybar/sketchybarrc
Due: none

fix: separate 1Password window handling for floating vs workspace
  systems/aarch64-darwin/aerospace/aerospace.toml
Due: none

fix: improve tmux status bar spacing with 2-line layout
  common/tmux/default.nix
Due: nixfmt, deadnix

fix: update docs reference
  common/ghostty/default.nix
  common/home-packages.nix
  common/neovim/lua/plugins/colorscheme.lua
  common/packages.nix
  common/tmux/default.nix
  common/tmuxinator/default.nix
  systems/aarch64-darwin/aerospace/aerospace.toml
Due: nixfmt, deadnix, stylua

fix: configure AeroSpace to float 1Password dialogs properly
  systems/aarch64-darwin/aerospace/aerospace.toml
Due: none

feat: add clickable workspace buttons with opacity to sketchybar
  systems/aarch64-darwin/sketchybar/colors.sh
  systems/aarch64-darwin/sketchybar/items/spaces.sh
  systems/aarch64-darwin/sketchybar/plugins/space.sh
Due: none

docs: update CLAUDE.md with tmux, AeroSpace, and theming info
  CLAUDE.md
Due: none

chore: update Claude Code settings
  .claude/settings.local.json
Due: none

fix: use idiomatic monitor pattern for built-in display gaps
  systems/aarch64-darwin/aerospace/aerospace.toml
Due: none

feat: update active window border color to purple with 80% opacity
  systems/aarch64-darwin/aerospace/aerospace.toml
Due: none

fix: improve yamlls Kubernetes schema patterns and add helm-ls
  common/neovim/lua/plugins/lsp.lua
Due: stylua

feat(neovim): add Jinja2 template detection and exclude helm/jinja from yamlls
  common/neovim/init.lua
  common/neovim/lua/config/filetype.lua
  common/neovim/lua/plugins/lsp.lua
  common/neovim/lua/plugins/treesitter.lua
Due: stylua

feat(neovim): add lualine config to ensure filetype is displayed
  common/neovim/lua/plugins/lualine.lua
Due: stylua

fix(neovim): use idiomatic LazyVim patterns for treesitter and lualine
  common/neovim/lua/plugins/treesitter.lua
Due: stylua

fix(neovim): consolidate yamlls filetype exclusion into main LSP config
  common/neovim/lua/plugins/lsp.lua
Due: stylua

fix(neovim): add early helm filetype detection to prevent yamlls attachment
  common/neovim/lua/config/autocmds.lua
Due: stylua

refactor(neovim): use LazyVim helm/yaml extras instead of custom config
  common/neovim/init.lua
  common/neovim/lua/config/autocmds.lua
  common/neovim/lua/config/filetype.lua
  common/neovim/lua/plugins/lsp.lua
Due: stylua

fix(neovim): prevent yamlls from attaching to helm template files
  common/neovim/lua/plugins/lsp.lua
Due: stylua

fix(neovim): disable helm_ls internal yamlls diagnostics for Jinja2 templates
  common/neovim/lua/plugins/lsp.lua
Due: stylua

fix(neovim): exclude helm values files from yamlls to prevent conflicts
  common/neovim/lua/plugins/lsp.lua
Due: stylua

chore: remove AeroSpace, Sketchybar, and borders
  systems/aarch64-darwin/aerospace/aerospace.toml
  systems/aarch64-darwin/aerospace/default.nix
  systems/aarch64-darwin/home.nix
  systems/aarch64-darwin/homebrew.nix
  systems/aarch64-darwin/sketchybar/colors.sh
  systems/aarch64-darwin/sketchybar/default.nix
  systems/aarch64-darwin/sketchybar/items/apple.sh
  systems/aarch64-darwin/sketchybar/items/battery.sh
  systems/aarch64-darwin/sketchybar/items/calendar.sh
  systems/aarch64-darwin/sketchybar/items/spaces.sh
  systems/aarch64-darwin/sketchybar/items/volume.sh
  systems/aarch64-darwin/sketchybar/plugins/battery.sh
  systems/aarch64-darwin/sketchybar/plugins/clock.sh
  systems/aarch64-darwin/sketchybar/plugins/icon_map_fn.sh
  systems/aarch64-darwin/sketchybar/plugins/space.sh
  systems/aarch64-darwin/sketchybar/plugins/space_windows.sh
  systems/aarch64-darwin/sketchybar/plugins/volume.sh
  systems/aarch64-darwin/sketchybar/sketchybarrc
Due: nixfmt, deadnix

docs: remove AeroSpace, Sketchybar, and borders references
  CLAUDE.md
Due: none

refactor: migrate Claude Code to Homebrew and update configs
  CLAUDE.md
  common/claude-code/default.nix
  common/claude-code/settings.json
  common/neovim/lua/plugins/nvim-tree.lua
  common/zsh/shared.nix
  systems/aarch64-darwin/default.nix
  systems/aarch64-darwin/dock.nix
  systems/aarch64-darwin/homebrew.nix
Due: nixfmt, deadnix, stylua

refactor: comprehensive code quality improvements and documentation updates
  .pre-commit-config.yaml
  CLAUDE.md
  common/constants.nix
  common/default.nix
  common/ghostty/default.nix
  common/git/default.nix
  common/home-manager-base.nix
  common/packages.nix
  common/profiles/hyprland.nix
  common/tmux/default.nix
  common/zsh/default.nix
  common/zsh/shared.nix
  flake.lock
  flake.nix
  systems/aarch64-darwin/default.nix
  systems/aarch64-darwin/dock.nix
  systems/aarch64-linux/default.nix
Due: nixfmt, deadnix

fix(pre-commit): add graceful fallbacks for statix and deadnix
  .pre-commit-config.yaml
Due: none

refactor(pre-commit): remove experimental features flags
  .pre-commit-config.yaml
Due: none

refactor: fix statix linting warnings and remove unused Hyprland profile
  .envrc
  .pre-commit-config.yaml
  common/claude-code/default.nix
  common/gh-dash/default.nix
  common/git/default.nix
  common/home-manager-base.nix
  common/lazygit/default.nix
  common/neovim/default.nix
  common/profiles/hyprland.nix
  common/profiles/wallpapers/README.md
  common/profiles/wallpapers/bg.jpg
  common/programs/default.nix
  common/scripts/default.nix
  common/tmuxinator/default.nix
  flake.nix
  systems/aarch64-darwin/default.nix
  systems/aarch64-darwin/homebrew.nix
Due: nixfmt, deadnix

refactor: remove Hyprland, add macOS wallpaper, fix all linter warnings
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  common/claude-code/default.nix
  common/claude-code/settings.json
  common/gh-dash/default.nix
  common/git/default.nix
  common/home-manager-base.nix
  common/lazygit/default.nix
  common/neovim/default.nix
  common/profiles/hyprland.nix
  common/profiles/wallpapers/README.md
  common/profiles/wallpapers/bg.jpg
  common/programs/default.nix
  common/scripts/default.nix
  common/tmuxinator/default.nix
  flake.nix
  systems/aarch64-darwin/default.nix
  systems/aarch64-darwin/homebrew.nix
  systems/aarch64-linux/default.nix
Due: nixfmt, deadnix

fix(ci): align nixfmt version and add statix/deadnix to CI
  .github/workflows/pre-commit.yml
Due: none

chore: update pre-commit-hooks to v6.0.0
  .pre-commit-config.yaml
Due: none

fix(neovim): update plugins for LazyVim v14/v15 compatibility
  common/claude-code/default.nix
  common/claude-code/hooks.json
  common/claude-code/settings.json
  common/neovim/lua/config/keymaps.lua
  common/neovim/lua/plugins/colorscheme.lua
  common/neovim/lua/plugins/completion.lua
  common/neovim/lua/plugins/lsp.lua
  common/neovim/lua/plugins/nvim-tree.lua
  common/neovim/lua/plugins/telescope.lua
  common/neovim/lua/plugins/ui.lua
  common/zsh/shared.nix
Due: nixfmt, deadnix, stylua

feat: add k9s module with Catppuccin Mocha theme and add nodejs to devshell
  common/home-packages.nix
  common/k9s/default.nix
  flake.nix
Due: nixfmt, deadnix

feat(k9s): add transparent skin and use out-of-store symlinks for writable config
  common/k9s/aliases.yaml
  common/k9s/config.yaml
  common/k9s/default.nix
  common/zsh/shared.nix
Due: nixfmt, deadnix
